<div class="row">
  <div class="col">
    <div class="action-data">
      <div class="action-data-value">
        {{ctrl.sequenceOptions.red}}<span class="unit">s</span>
      </div>
      <div class="action-data-label light-text">{{'red' | translate}}</div>
    </div>
  </div>
  <div class="col">
    <div class="action-data">
      <div class="action-data-value">
        {{ctrl.sequenceOptions.yellow}}<span class="unit">s</span>
      </div>
      <div class="action-data-label">{{'yellow' | translate}}</div>
    </div>
  </div>
  <div class="col">
    <div class="action-data">
      <div class="action-data-value">
        {{ctrl.sequenceOptions.green}}<span class="unit">s</span>
      </div>
      <div class="action-data-label">{{'green' | translate}}</div>
    </div>
  </div>
  <div class="col">
    <div class="action-data">
      <div class="action-data-value">
        {{ctrl.sequenceOptions.repeat}}<span class="unit">&times;</span>
      </div>
      <div class="action-data-label">{{'repeat' | translate}}</div>
    </div>
  </div>
</div>
<div class="list list-inset">
  <div class="item item-divider">
    {{'lightTimes' | translate}}
  </div>
  <div class="item range range-assertive">
    <i class="icon ion-ios-timer-outline"></i>
    <input type="range" name="volume" min="2" max="9" ng-model="ctrl.sequenceOptions.red">
    <i class="icon ion-ios-timer"></i>
  </div>
  <div class="item range range-energized">
    <i class="icon ion-ios-timer-outline"></i>
    <input type="range" name="volume" min="1" max="5" ng-model="ctrl.sequenceOptions.yellow">
    <i class="icon ion-ios-timer"></i>
  </div>
  <div class="item range range-balanced">
    <i class="icon ion-ios-timer-outline"></i>
    <input type="range" name="volume" min="2" max="9" ng-model="ctrl.sequenceOptions.green">
    <i class="icon ion-ios-timer"></i>
  </div>
  <div class="item item-divider">
    {{'repeat' | translate}}
  </div>
  <div class="item range">
    <i class="icon ion-ios-infinite-outline"></i>
    <input type="range" name="volume" min="1" max="4" ng-model="ctrl.sequenceOptions.repeat">
    <i class="icon ion-ios-infinite"></i>
  </div>
</div>
<button class="button button-full button-positive" ng-disabled="ctrl.performBtnDisabled" ng-click="ctrl.performSequence()">
  {{'executeSequence' | translate}}
</div>
