<ion-view view-title="Light Actions">
  <ion-content>
    <ul class="list">
      <li class="item item-toggle">
         Red
         <label class="toggle toggle-assertive">
           <input type="checkbox"
            ng-model="lightActionsController.lights.red"
            ng-change="lightActionsController.toggleLight('red')">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Yellow
         <label class="toggle toggle-energized">
           <input type="checkbox"
            ng-model="lightActionsController.lights.yellow"
            ng-change="lightActionsController.toggleLight('yellow')">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Green
         <label class="toggle toggle-balanced">
           <input type="checkbox"
            ng-model="lightActionsController.lights.green"
            ng-change="lightActionsController.toggleLight('green')">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
