<ion-view view-title="{{'titleAction' | translate}}">
  <ion-content>
    <ion-list>
      <a class="item item-icon-right item-avatar" ui-sref="tab.usSequence()" href="#">
        <img src="img/us.svg">
        <h2>{{'usSequence' | translate}}</h2>
        <p>{{'usSequenceDescription' | translate}}</p>
        <i class="icon {{actionController.icons.chevron}} nav-icon-right-small"></i>
      </a>
      <a class="item item-icon-right item-avatar" ui-sref="tab.ukSequence()" href="#">
        <img src="img/uk.svg">
        <h2>{{'ukSequence' | translate}}</h2>
        <p>{{'ukSequenceDescription' | translate}}</p>
        <i class="icon {{actionController.icons.chevron}} nav-icon-right-small"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
