<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-light">
  <ion-tab title="{{'titleDashboard' | translate}}"
    icon-off="{{this.tabController.tabIcons.dashboardOff}}"
    icon-on="{{this.tabController.tabIcons.dashboardOn}}"
    ui-sref="tab.dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'titleAction' | translate}}"
    icon-off="{{this.tabController.tabIcons.actionOff}}"
    icon-on="{{this.tabController.tabIcons.actionOn}}"
    ui-sref="tab.action">
    <ion-nav-view name="tab-action"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'titleAbout' | translate}}"
    icon-off="{{this.tabController.tabIcons.aboutOff}}"
    icon-on="{{this.tabController.tabIcons.aboutOn}}"
    ui-sref="tab.about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
