.light-img {
  background: #fff;
  display: block;
  margin: auto;
  text-align: center;

  svg {
    margin: 2em auto;
  }
}

.dashboard-view-content {
  .status-message {
    border-bottom: 1px solid #e5e5e5;
    color: $color-text;
    font-size: 1.05em;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}
