.light-img {
  background: ;
  display: block;
  margin: auto;
  text-align: center;

  svg {
    margin: 3em auto;
  }
}

.dashboard-view-content {
  .status-message {
    color: $color-text;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 2.5em 0;
    text-align: center;
  }
}
