.light-img {
  display: block;
  margin: 3em auto;
  text-align: center;
}

.dashboard-view-content {
  .status-message {
    color: $color-text;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 2.5em 0;
    text-align: center;
  }
}
