@mixin svg-image($image, $width, $height) {
  background-image: url('../img/#{$image}.svg');
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}


.nav-icon-right-small {
  font-size: 20px !important;
}
